*{
    margin: 0%;
    padding: 0%;
}

body{
font-family: "Source Sans Pro", "sans-serif", 'Lucida Sans', 
'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background-color: #edf6f9;
}

.container{
    display: block;
    text-align: center;
    margin-top: 10%;
}

h1, h4{
    color: #006d77;
    letter-spacing: .7px;
    margin: 1.6em 0;
}

.logo-image{
    margin-top: 6%;
    width: 110px;
}

.breeds-item{
    color:  #f07f23;
}
.breeds-item:hover{
    color:  #f07f2396;
    /* text-transform: uppercase; */
}

.button-home{
    width: 3em;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: 1s all;
    opacity: 0;
}
.loading.show {
    opacity: 1;
}
.loading .spin {
    border: 3px solid hsla(185, 100%, 62%, 0.2);
    border-top-color: #3cefff;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}            